body {
    font-family: 'Single Day', cursive;
    background-image: url("https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F086403e2-9263-11ed-b04f-b9bf191ef388.jpg?crop=2747%2C1545%2C44%2C101 ");
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    background-color: coral;
    border-radius: 30px;
}

.flex1 {
    flex: 1;
    padding-left: 2%;
    padding-right: 2%;
}